div
<div></div>

div#myDiv
<div id="myDiv"></div>

div.blueDiv
<div class="blueDiv"></div>

<div id="newDiv" class="blueDiv"></div>

<div class="blueDiv roudedDiv"></div>

<div>
    <p></p>
</div>

<div>
    <header></header>
    <section></section>
</div>

<ul>
    <li></li>
</ul>

<table>
    <thead></thead>
    <tbody></tbody>
</table>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>